* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

svg {
  cursor: pointer;
}

#rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  height: 100vh;
}
